* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --bs-color-primary: #DADBD3; 
    --bs-color-secondary: #009688;
    --bs-color-tertiary: #8EDAFD;
    --my-btn-color: #B1B1B1;
    --bg-sent-message-: #D5F9BA;

}

body {
    font-family: 'Ubuntu';
    font-size: 15px;
    background-color: var(--bs-color-primary);
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: inherit;
}


img {
    max-width: 45px;
}


.bg-gray {
    background-color: var(--bs-color-primary);
}

.bg-lightgray {
    background-color: #F3EEEA;
}

.bg-notify {
    background-color: var(--bs-color-tertiary);
}

/*BACKGROUND*/
.top-bg {
    height: 16vh;
    background-color: var(--bs-color-secondary);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 0;
}
/*CONTAINER APP*/
.main-container {
    background-color: white;
    height: 95vh;
    margin-top: 2.5vh;
    margin-bottom: 2.5vh;
    position: relative;
}

.user-container-buttons a {
    color: var(--my-btn-color);
}

.user-container-buttons a:hover {
    color: var(--bs-color-secondary);
}

.notify-container {
    font-size: 14px;
}

.notify-container a {
    font-size: 12px;
    color: #656565;
}

.search-container a :hover {
    color: var(--bs-color-secondary);
}

.notify-container i {
    font-size: 18px;
    padding: 10px;
    color: var(--bs-color-tertiary);
}

.my-form-control {
    font-size: 14px;
    border-radius: 0;
}

.my-input-group-text {
    color: grey;
    background-color: white;
    border: 1px solid #ced4da;
    border-radius: 0px ;
}

.contacts-container .last-message-info {
    color: gray;
    font-size: 11px;
}

.contacts-border {
    border-bottom: 1px solid var(--bs-color-primary);
}

.active-user {
    background-color: var(--bs-color-primary);
}


.messages-container {
    background-image: url(../img/mine.jpg);
}

.messages-input a {
    font-size: 16px;
    color: #6B7376;
}

.message-contact-info .last-message-info {
    font-size: 12px;
    color: grey;
}


.sent-message {
font-size: 12px;
background-color: var(--bg-sent-message-);
}

.recived-message {
    font-size: 12px;
    background-color: #fff;
    }

.orario-invio {
    font-size: 10px;
    color: gray;
}